@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/Lato-Black.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Felidae';
  src: url("../fonts/Felidae.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amalfi Coast';
  src: url("../fonts/Amalfi Coast.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}
