html {
  scroll-behavior: smooth;


}
body {
  min-height: 100vh;
  background: linear-gradient(195.7deg, rgba(49, 18, 13, 0.2) 27.71%, rgba(49, 18, 13, 0.156) 56.44%), linear-gradient(162.71deg, rgba(49, 18, 13, 0.88) 2.05%, rgba(36, 13, 9, 0.6864) 39.09%), #FFFFFF;
  overflow-x: hidden;
}

