$basic__white: #FFFFFF;
$decor__white: #F3F3F3;
$accent__yellow: #FF9400;
$main__red: #8B1300;
$details__white: #dddddd;
$hover__red: #C51B00;
$disabled__gray: #BFBFBF;
$input__gray: #535353;
$accent__beige: #FFE3BD;

$bp-mobile: 360px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1280px;
